node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
